/* Mobile Viewport */
body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
  ;
  background-color: #ecf2f8;
}

.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 90%;
  background-color: white;
  border-radius: 10px;
  margin-top: 20px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 10px;
  box-shadow: 0 79px 77px -73px rgba(0, 0, 0, 0.1);
}

.image {
  overflow: hidden;
  height: 90%;
}

.image img {
  width: 100%;
}

.heading h1 {
  font-size: 18px;
  font-weight: 700;
  color: #48556a;
  width: 80%;
  margin-left: 10%;
}

.text h2 {
  font-size: 16px;
  font-weight: 500;
  color: #6d7f97;
  width: 80%;
  margin-left: 10%;
}

.name {
  display: grid;
  grid-template-columns: 20% 50% 30%;
  margin-top: 10px;
}

.name p {
  position: relative;
  left: 15%;
  top: 10%;
  font-size: 13px;
  font-weight: 700;
  color: #48556a;
}

.name span {
  font-weight: 500;
  color: #6d7f97;
  margin-top: 1em;
}

.name button {
  background-color: #ecf2f8;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  position: relative;
  top: 30%;
  left: 34%
}

.michelle-image {
  border-radius: 50%;
  width: 60%;
  position: relative;
  left: 50%;
  top: 20%;
}

.share {
  width: 90%;
  background-color: #48556a;
  border-radius: 0 0 10px 10px;
  display: grid;
  grid-template-columns: 20% 50% 30%;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 1;
  transform: translateY(-100%);
  visibility: hidden;
}

.show-share {
  visibility: visible;
}

.share p {
  color: #6d7f97;
  letter-spacing: 3px;
  font-weight: 500;
  margin-left: 40%;
}

.icons {
  margin: auto;
  padding-left: 40px;
}

.icons a {
  text-decoration: none;
  padding: 10px;
}

.share button {
  background-color: #ecf2f8;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
  justify-content: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Tablet viewport  */
@media screen and (min-width: 768px) {
  .container {
    height: 95vh;
    justify-content: center;
  }

  .card {
    width: 70vw;
    height: 25vh;
    grid-template-columns: 45% 55%;
  }

  .wrapper {
    height: 100%;
    padding-top: 5%;
  }

  .image {
    height: 110%;
  }

  .image img {
    height: 100%;
  }

  .heading h1 {
    font-size: 0.8rem;
  }

  .text h2 {
    font-size: 0.6rem;
  }

  .michelle-image {
    width: 50%;
  }

  .name p {
    font-size: 0.5rem;
  }

  .name button {
    width: 30%;
    height: 70%;
  }

  #open img {
    width: 70%;
  }

  .share {
    width: 38.5vw;
    border-radius: 0 0 10px 0;
    position: relative;
    left: 15.7%;
    height: 4%;
  }

  .share p {
    position: relative;
    bottom: 20%;
  }

  .icons {
    position: relative;
    bottom: 20%;
  }

  .icons a {
    padding: 5px;
  }

  .share button {
    width: 25px;
    height: 25px;
    position: relative;
    bottom: 22%;
    right: 1%;
  }

  #close img {
    width: 80%;
  }
}

/* Desktop and above viewport  */
@media screen and (min-width: 1024px) {
  .container {
    height: 95vh;
    width: 99vw;
    justify-content: center;
  }

  .card {
    width: 70vw;
    height: 30vh;
    grid-template-columns: 45% 55%;
  }

  .image {
    height: 110%;
  }

  .wrapper {
    height: 100%;
    padding: 0;
  }

  .heading h1 {
    font-size: 1.1rem;
    padding-top: 2%;
  }

  .text h2 {
    font-size: 0.75rem;
  }

  .name {
    padding-top: 5px;
  }

  .name p {
    font-size: 0.6rem;
  }

  .name button {
    height: 30px;
    width: 30px;
  }

  /* share button css  */
  .share {
    width: 22vw;
    height: 5%;
    border-radius: 10px;
    box-shadow: 0 79px 77px -73px rgba(0, 0, 0, 0.1);
    padding: 0;
    position: relative;
    left: 29.5%;
    bottom: 12%;
    grid-template-columns: 20% 79% 1%;
  }

  .share p {
    margin-left: 15px;
    margin-top: 20px;
  }

  .share button {
    background-color: #48556a;
    width: 30px;
    height: 30px;
    position: relative;
    top: 7vh;
    right: 12.5vw;
    border: none;
  }

  .share::after {
    position: absolute;
    content: '';
    border: 20px solid transparent;
  }

  .bottom.share::after {
    /* DOWN TRIANGLE */
    border-top-color: #48556a;
    border-bottom: 0;
    /* POSITION TAIL AT BOTTOM OF BOX */
    bottom: -18px;
    left: 50%;
    margin-left: -20px;
  }

  #close img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(159deg) brightness(105%) contrast(105%);
  }

  .icons {
    margin-left: 40px;
    padding: 20px;
    width: 80%;
  }
}

@media screen and (min-width: 1439px) {
  .card {
    width: 60vw;
    height: 30vh;
  }

  .heading h1 {
    font-size: 1.5rem;
  }

  .text h2 {
    font-size: 1rem;
  }

  .michelle-image {
    top: 10%;
  }

  .name p {
    font-size: 0.8rem;
  }

  .name button{
    top: 35%;
  }

  .share {
    left: 24.5%;
    width: 15%;
  }

  .share button {
    top: 7.2vh;
    right: 8.1vw;
  }

  .share p{
  margin-left: 25px;
  padding-top: 8px;
  }

  .icons{
    padding-top: 28px;
  }

  .icons a{
    padding: 8px;
  }
}
