body {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  box-sizing: border-box;
  background: linear-gradient(135deg, #ffffff, #fff5f5);
}

.wrapper {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* logo styling  */
.logo {
  width: 100%;
  padding: 6% 0;
}

.logo img {
  width: 30%;
  padding-left: 8%;
}

/* image styling  */
.mobile-image {
  width: 100%;
  display: block;
}

.mobile-image img {
  width: 100%;
}

.desktop-image {
  display: none;
}

/* text styling  */
.heading {
  width: 60%;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
  line-height: 1.2;
  color: #413a3a;
  position: relative;
  left: 20%;
}

.heading span {
  font-weight: 300;
  color: #ce9797;
}

.content {
  width: 80%;
  position: relative;
  left: 10%;
  margin-top: 5%;
}

.content p {
  text-align: center;
  color: #ce9797;
  line-height: 1.3;
}

/* email address input    */
.button {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10%;
}

#emailInput {
  width: 75%;
  position: relative;
  left: 12%;
  background-color: inherit;
  line-height: 3;
  text-indent: 5%;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1rem;
  border: 1px solid #ce9797;
  border-radius: 25px;
  opacity: 0.7;
}

::placeholder {
  color: #ce9797;
}

#submitBtn {
  position: relative;
  right: 8%;
  width: 15%;
  background: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  border: none;
  border-radius: 25px;
  align-items: center;
  box-shadow: 0 52px 81px -24px rgba(0, 0, 0, 0.3);
}

#submitBtn img {
  padding-top: 5px;
  padding-left: 5px;
}

#submitBtn:hover {
  cursor: pointer;
}

#errorIcon {
  height: 20px;
  width: 20px;
  align-self: center;
  position: relative;
  right: 10%;
  visibility: hidden;
}

.errorMessage {
  font-size: 0.8rem;
  color: #ce9797;
  position: relative;
  left: 20%;
  visibility: hidden;
}

/* footer style */
.attribution {
  margin-top: 10%;
  font-size: 11px;
  text-align: center;
  width: 100%;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Tablet Viewport Styling  */
@media screen and (min-width: 580px) and (max-width: 899px) {
  .logo img {
    width: 20%;
  }

  .heading {
    font-size: 2rem
  }

  .content {
    width: 70%;
    left: 15%;
    font-size: 1.3rem;
  }

  #emailInput {
    width: 70%;
    left: 15%;
    line-height: 4;
  }

  #submitBtn {
    right: 0;
    border-radius: 30px;
  }
}

/* Laptop Viewport */
@media screen and (min-width: 900px) {
  .wrapper {
    flex-direction: row;
    overflow: hidden;
    background: url(' images/bg-pattern-desktop.svg')
  }

  /* Logo Styling  */
  .logo {
    position: absolute;
    top: 5%;
    width: 55%;
    padding: 0;
  }

  .logo img {
    width: 20%;
    padding-left: 10%;
  }

  /* text styling  */

  .text {
    margin-top: 5%;
  }
  .heading {
    font-size: 2.2rem;
    text-align: left;
    left: 10%;
  }

  .content {
    font-size: 1.5rem;
    width: 70%;
    left: 10%;
    margin-top: 5%;
  }

  .content p {
    text-align: left;
  }

  /* email input styling  */

  .button{
    width: 80%;
    margin-top: 8%;
  }

  #emailInput{
    width: 80%;
    left: 10%;
    line-height: 3.5;
  }

  .errorMessage{
    left: 15%;
  }

  /* image styling  */
  .desktop-image {
    display: block;
  }

  .desktop-image img {
    min-height: 100vh;
  }

  .mobile-image {
    display: none;
  }
}
